.center {
  text-align: center;
}

.row, textarea {
  text-align: center;
}

.houses {
  font-size
}

.points p {
  font-size: 50px;
  font-weight: bold;
}

#transcription {
  font-size: 30px;
  height: 300px;
}

.highlight {
  background-color: red;
}